body {
  margin: 0;
  padding: 0;
  background-color: violet;
  background-attachment: fixed;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  height: 99vh;
}

hr {
  border-style: none none dotted none;
  border-width: 10px;
  border-collapse: collapse;
  border-color: whitesmoke;
  width: 30%;
}

.message {
  font-family: "Anton", sans-serif;
}

.heading {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin: 0.7em auto 1em auto;
  text-align: center;
}

.header_design {
  text-align: center;
}

@keyframes color_cycle {
  0% {
    color: gold;
  }
  100% {
    color: whitesmoke;
  }
}

.slots {
  font-size: medium;
  width: 40%;
  border: 3px solid black;
  border-radius: 10%;
  border-style: groove;
  backdrop-filter: blur(5px);
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 15px 0px white;
}

.success {
  color: green ;
}


.btn-class {
  align-self: center;
  display: inline-block;
  border: none;
  color: #705d07;
  border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  font-family: "Montserrat", sans-serif;
  width: 15%;
  height: auto;
  margin: 1rem auto;
  font-size: 20px;
  padding: 10px 22px;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to left, #fce374, #fcdf5b);
  background-color: #fce374;
  cursor: pointer;
}
.btn-class:hover,
.btn-class:active {
  border: none;
  color: #705d07;
  box-shadow: inset 0px 0px 0px 0 #fff6ce, inset 4px 5px 2px 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0px 0px 0px 0 #fff6ce, inset 4px 5px 2px 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0px 0px 0px 0 #fff6ce, inset 4px 5px 2px 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}

.foot {
  position: relative;
  margin-left: 3px;
  background-color: #d4d4d4;
}
